html {
  box-sizing: html {
    box-sizing: border-box;
  }

  *, *::before, *::after {
    box-sizing: inherit;
  }
}

body {
  margin: 0;
  padding: 0;
  color: #222;
  line-height: 1.5;
  max-width: 1400px;
  margin: auto;
}

nav {
  background-color: #000;
  position: fixed;
  width: 1400px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 1.25em 0;
}

nav ul li {
  padding-left: 3em;
  padding-right: 3em;
  padding-top: .5em;
  padding-bottom: .5em;
}

nav ul li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

nav ul li a:hover {
  height: 100%;
	padding: 10px;
  color: #000;
  background-color: #fff;

}

.background-image {
  width: 100%;
  height: 75vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url( 'https://images2.alphacoders.com/261/thumb-1920-26102.jpg' );
}




.about-me h2 {
  text-decoration: underline;
  font-size: 2em;
  padding-top: 8rem;
  padding-left: 2.5rem;
  margin: 0;
  grid-column: 2;
  grid-row: 1;
}

.about-me {
  margin: 5rem 0 10rem 0;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: auto 2fr 1fr;
}

.about-me-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 2.5em 0 2.5em;
}

.about-me-content img {
  max-width: 20%;
  border-radius: 50%;
}

.about-me-content img:hover {
  box-shadow: 0 0 8px #000;
}

div:nth-child(2) {
  grid-column: 2;
  grid-row: 2;
}

div:nth-child(1) {
  grid-column: 2;
  grid-row: 2;
}





.my-work {
  background-color: #f5f5f5;
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 4fr 1fr;
  grid-template-rows: auto 1fr 1fr auto;
  gap: 2rem;
}

.my-work p {
  text-align: center;
}

.my-work h2 {
  text-decoration: underline;
  font-size: 2em;
  text-align: center;
  grid-column: 3;
  grid-row: 1;
}

.my-work div img {
  max-width: 100%;
  height: 30vw;
  object-fit: cover;
}

.my-work div img:hover {
  box-shadow: 0 0 8px #000;
}

div:nth-child(2) {
  grid-column: 2;
  grid-row: 2;
}

div:nth-child(3) {
    grid-column: 3;
    grid-row: 2;
}

div:nth-child(4) {
    grid-column: 2;
    grid-row: 3;
}

div:nth-child(5) {
    grid-column: 3;
    grid-row: 3;
}

div:nth-child(6) {
    grid-column: 4;
    grid-row: 2;
}

div:nth-child(7) {
    grid-column: 4;
    grid-row: 3;
}

.my-work img {
  max-width: 20%;
  border-radius: 10%;
}



footer {
  background-color: #000;
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: center;
  padding: .75em 0;
  color: #fff;
}
