html {
  box-sizing: html {
    box-sizing: border-box;
  }

  *, *::before, *::after {
    box-sizing: inherit;
  }
}

body {
  margin: 0;
  padding: 0;
  color: #222;
  line-height: 1.5;
  max-width: 1400px;
  margin: auto;
}

h1 {
  padding-top: 8rem;
  padding-left: 2.5rem;
  margin: 0;
  grid-column: 2;
  grid-row: 1;
}

nav {
  background-color: #000;
}

nav ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 1.25em 0;
}

nav ul li {
  padding-left: 3em;
  padding-right: 3em;
  padding-top: .5em;
  padding-bottom: .5em;
}

nav ul li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

nav ul li a:hover {
  color: #FFFF33;
  font-family: 'Monoton', cursive;
}

.background-image {
  width: 100%;
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url( 'https://www.lifewire.com/thmb/2eb72KeTI208avqjSp9j32DtCTk=/1067x800/smart/filters:no_upscale()/vladstudio-library-wallpaper-5919cd763df78cf5fa3d7e27.jpg' );
}
.about-me {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: auto 1fr 1fr;
}

.about-me-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 2.5em 0 2.5em;
}

.about-me-content img {
  max-width: 20%;
  border-radius: 50%;
}

.about-me-content img:hover {
  box-shadow: 8px 8px 8px #39FF14;
}

div:nth-child(2) {
  grid-column: 2;
  grid-row: 2;
}

div:nth-child(1) {
  grid-column: 2;
  grid-row: 2;
}




footer {
  background-color: #000;
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: center;
  padding: .75em 0;
  color: #fff;
}
